<template name='login' xmlns="http://www.w3.org/1999/html">
<div class="wrapper">
   <div class="header">
       <div class="center">

		   <div class="logo" title="Ekkli"></div>
		   <a href="#"  class="login anim" id="toggle-modalw">login</a>
	   </div>
   </div>

   <div class="splash anim">
       <div class="center">
		   <h1 class="anim">
			   Every goal is just N steps away.
		   </h1>
		   <div class="signup">
		      <!--span class="text">Sign-up for free:</span-->
              <span class="btn anim" id="sign-up-google"><i class="iconw-gplus-circled" ></i>Sign-up with Google</span>
			  <span class="btn anim" id="sign-up-facebook"><i class="iconw-facebook-circled" ></i>Sign-up with Facebook</span>
			  <span class="btn anim" id="sign-up-github"><i class="iconw-github-circled" ></i>Sign-up with GitHub</span>
			  <span class="smalltext">Or <a href="#">Sign up with Email</a></span>
		   </div>
	   </div>
   </div>

   <div class="communication">
       <div class="center">
		   <h2>
			  You want to achieve some big goal or project, <br/>but you're either
		   </h2>
		   <div class="arrows"></div>
		   <ul class="blocks">
		      <li>
				  <span class="block-title">Overwhelmed by the project size</span>
				  <img src="/where_to_start.png">
				  <span class="text">not knowing <i class="red-color">where to start</i></span>
			  </li>
			  <li><span class="circle">OR</span></li>
			  <li>
				  <span class="block-title">Buried under tons of tasks</span>
			      <img src="/buried_under_tasks.png">
				  <span class="text">not seeing <i class="red-color">the big picture</i></span>
			  </li>
	       </ul>
           <div class="arrows2"></div>
           <h2>Bottom line, you're just not getting there :(</h2>
      </div>
   </div>


   <div class="gallery">
       <div class="center">
		   <h2>
			  Meet Ekkli

        <span style="font-size: 14pt">
          <br/>
          With Ekkli you can quickly draw the path to your goals, which not only tracks all your tasks but also shows you the big picture: where you’re at &amp; where you’re going.
        </span>
        <br/>

        <span style="font-size: 14pt">
          According to some brain researchers, people that imagine &amp; visualise their goals on daily basis, allow their brains to sub-consciously figure out the best way to get there. Ekkli helps you do just that &amp; translate your vision into reality.
        </span>

        <br/>

		   </h2>
		   <ul>
			  <li><a data-image="/screen2big.png" class="gallery-item" title="Planning"><img src="/screen2big.png" /></a><div ></div><!--span>Where do we want to go & what are the next steps towards there?</span--></li>
			  <li><a data-image="/screen1big.png" class="gallery-item" title="Decisions making"><img src="/screen1big.png" /></a><div ></div><!--span>Which path should we choose?</span--></li>
			  <li><a data-image="/screen3big.png" class="gallery-item" title="Work status"><img src="/screen3big.png" /></a><div ></div><!--span>Where are you on your way to this goal & how did you arrive here?</span--></li>
		   </ul>

	   </div>
   </div>

   <div class="features">
       <div class="center">
		   <h2>
			  Why use it?
		   </h2>
		   <ul>
			   <li><div class="anim"><i class="iconw-hourglass anim"></i></div><span>Get a live map of your project, that takes seconds to read &amp; update</span></li>
			   <li><div class="anim"><i class="iconw-rocket anim"></i></div><span>See the path to your goals &amp; focus on getting there</span></li>
			   <li><div class="anim"><i class="iconw-chat-1 anim"></i></div><span>Collaborate on maps with colleagues</span></li>
			   <li><div class="anim"><i class="iconw-zoom-in anim"></i></div><span>See the big picture as well as the small details</span></li>
		   </ul>
		   <div class="video">
<iframe src="//player.vimeo.com/video/101356136" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/93177222">Intro to Ekkli</a> from <a href="http://vimeo.com/user27434411">Ekkli</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		   </div>
	   </div>

   </div>




   <div class="footer">
	       <div class="center">
		      <div class="top anim"><i class="iconw-up-open-1"></i></div>
		      <ul class="social">
				  <li><a class="iconw-twitter-circled anim" href="https://twitter.com/ekkli" target="_blank"></a></li>
			      <li><a class="iconw-tumblr-circled anim" href="http://dibau.tumblr.com/" target="_blank" ></a></li>
				  <li><a class="iconw-help-circled anim" href="https://ekkli.uservoice.com" target="_blank"></a></li>
			  </ul>
			  <span class="copy">&copy; 2015 Ekkli</span>
		   </div>
   </div>

    <div class="modalw">
        <div class="modalw-content">
            <div class="modalw-header">
                <h3>Ekkli - Login</h3>
                <a class="close-modalw anim"><i class="iconw-cancel"></i></a>
            </div>
            <div class="modalw-inner">

                {{>login_dialog}}
                {{>forgot_dialog}}
                {{>signup_dialog}}

            </div>
        </div>
    </div>
    <div class="modalw-overlay"></div>

</div>



</template>
