
<template name="invite_users">
    <div id="invite_users-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map-settings-heading" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="content-editor-heading">Add collaborators</h3>
        </div>
        <div class="modal-body">
			<!-- show map author -->
			<fieldset>
				<label>Email address:</label>
				<input type="text" id="email-address" placeholder="Email address" value=""/>
	    		<span class="help-block" >You can write more than one email address - seperate them with ;</span>
				<label>Personal message:</label>
            	<textarea id="msg-input" rows="6" placeholder="Message" class="editable"></textarea>


			</fieldset>
        </div>
        <div class="modal-footer">
            <button id="close-invite-user-dialog-button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="invite-users">Send invitation</button>
        </div>
    </div>
</template>
