
<template name="map_settings">
    <div id="map-settings-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map-settings-heading" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="content-editor-heading">New map</h3>
        </div>
        <div class="modal-body">
			<!-- show map author -->
			<fieldset>
				<label>Name the map:</label>
				<input type="text" id="edit-name-input" placeholder="Map name" value="{{map_name}}"/>
				<label>Describe its agenda &amp; goals:</label>
            		<textarea id="edit-description-input" rows="6" placeholder="Description" class="editable">{{map_description}}</textarea>
		    		<span class="help-block" >Check this if the map should be publicly accessible</span>
				<label class="checkbox">
        				<input id="edit-is-public-input" type="checkbox" checked="{{#if map_is_public}}checked{{/if}}">Public
				</label>
			</fieldset>
        </div>
        <div class="modal-footer">
            <button id="close-map-settings-dialog-button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="save-content">Save</button>
        </div>
    </div>
</template>
