
<template name="maps">
<div id="all">
	<div id="manu_table">

		<div class="pull-left">
		<div id="menu" class="well">

            <ul class="nav nav-pills nav-stacked">

				{{#each parentContexts}}
                	<li><a href="#" class="select-context" context="{{_id}}"><i class="icon-user"></i> {{name}}</a></li>
				{{/each}}
                
					
                	<li><a href="#" class="add-context" id="add-parent-context"><i class="icon-plus"></i> Add higher-level context...</a></li>
    
                    <li class="active"><a href="#" class="show-context-edit-menu" context="{{currentContext._id}}"><i class="icon-user"></i> {{currentContext.name}}</a></li>
                 
                    <li><a href="#" class="add-context" id="add-child-context"><i class="icon-plus"></i> Add lower-level context...</a></li>
					
					
				{{#each childContexts}}
                    <li><a href="#" class="select-context" context="{{_id}}"><i class="icon-user"></i> {{name}}</a></li>
				{{/each}}
                    
            </ul>			
		</div>
		{{#if show_edit_context_menu}}<span id="context-edit-menu"><a href="" id="edit_context">Edit</a> or <a href="" id="delete_context">Delete</a></span> {{currentContext.name}}{{/if}}
	</div>
		
		
		<div id="maps_table" class="maps-table text-center">
			
			<div id="which-menu" class="pull-right">

	        <a class="select-which-maps {{#unless mine_selected}}bold{{/unless}}" which="mine" title="All maps">All</a> |
        
		
			<a class="select-which-maps {{#unless own_selected}}bold{{/unless}}" which="own" title="Maps I started">Mine</a> |
                
			<a class="select-which-maps {{#unless recent_selected}}bold{{/unless}}" which="recent" title="Recently updated">Recent</a> |
                
	         <a class="select-which-maps {{#unless deleted_selected}}bold{{/unless}}" which="deleted" title="Deleted maps">Deleted</a> |
                
			 <a class="select-which-maps {{#unless public_selected}}bold{{/unless}}" which="public" title="Public maps">Public</a>
                
			</div>
			
			<table class="table table-striped">
			<tr>
				<th></th>
				<th>Description</th>
				<th>Created by</th>
				<th>Date created</th>
				<th>Last update</th>
				<th>Actions</th>
				<th>Goals</th>
				<th></th>
			</tr>
			{{#if maps_loading}}
			<tr>
				<td colspan="4" align="center">
					<!--div class="progress progress-striped active"><div class="bar" style="width: 100%;">Loading...</div></div-->
					<div class="text-info">Loading...</div><br/>
				</td>
			</tr> 
			{{/if}}
			{{#each maps}}
    				{{> mapListItem }}
			{{/each}}
			</table>
		</div>
	</div>
</div>
</template>

<template name="mapListItem">

    <tr>
		<td>
			<i class="icon-random"></i>
		</td>
		<td>
			<a href="{{mapPath}}" class="map-link">{{ name }}</a><br/>
			{{ description }}
		</td>
		<td>
			<img src="{{ownerPicture}}" id="avatar" alt="{{authorName}}" style="width:16px">{{ ownerName }}
		</td>
		<td>
			<strong>{{ created_at_date }}</strong><br/>
			{{ created_at_time }}
		</td>
		<td>
			<strong>{{ last_update_date }}</strong><br/>
			{{ last_update_time }}
		</td>
		<td>
			<div class="progress">
  			  <div class="bar bar-danger" style="width: {{action_cancelled_percent}}%;"></div>
			  <div class="bar bar-success" style="width: {{action_delivered_percent}}%;"></div>
			  <div class="bar bar-warning" style="width: {{action_started_percent}}%;"></div>
			  <div class="bar bar-info" style="width: {{action_accepted_percent}}%;"></div>
			</div>
		</td>
		<td>
			<div class="progress">
  			  <div class="bar bar-danger" style="width: {{goal_missed_percent}}%;"></div>
			  <div class="bar bar-success" style="width: {{goal_met_percent}}%;"></div>
			  <div class="bar bar-info" style="width: {{goal_expected_percent}}%;"></div>
			</div>
		</td>
		<td>
			<div class="dropdown">
				<button class="btn dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b> </button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
					<li role="presentation"><a href="{{mapPath}}" class="map-link">Open</a></li>
					<li role="presentation"><a href="#map-settings-dialog" class="edit-map-action" data-toggle="modal">Properties</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a href="#" class="delete-map-action">Delete</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a href="#invite_users-dialog" class="invite-user-action" data-toggle="modal">Share/Invite</a></li>
					<li role="presentation"><a href="{{print_url}}" >Print</a></li>
				</ul>
         	</div>
		</td>
	</tr>
</template>
